@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");
@import url("normalize.css");
@import url("grid.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,600");
textarea{
	width: 100%;
	padding: 15px 15px;
}
.char-btn{
	width: 100%;
	display: block;
}
.char{
	background: #666;
	color: white;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}

p, h4, h5{
	color: #333;
}
td{
	width: 200px;
	padding: 5px 10px;
}
table{
	background: white;
}
/* FORM CSS */

.system{
	background: #ccc;
	padding: 1% 2%;
}
div.row{
	margin: -1% 0 0 0 !important;
}
/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

.shadow{
	-webkit-box-shadow: 0px 4px 10px 3px rgba(51,51,51,0.1);
	-moz-box-shadow: 0px 4px 10px 3px rgba(51,51,51,0.1);
	box-shadow: 0px 4px 10px 3px rgba(51,51,51,0.1);
}



/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#00A8E1;
	z-index:100;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:100px 0;
}








/* Tablet */
@media screen and (max-width: 1024px) {


#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

#content {
	text-align:center;
	width:100%;
}



/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}



}




