<h1> Search results </h1>
<div class="search">
    <div class="sidecolumn">
        <ul>
            <h3>Categories</h3>
            <li>Analyzing</li>
            <li>Synthesizing</li>
            <li>Gathering</li>
            <li>Prototyping</li>
        </ul>
    </div>
    <div class="maincolumn">
        <ul>
          <% @hits.each do |hit| %>
            <%= render 'design_methods/hit', hit: hit %>
          <% end %>
        </ul>
    </div>
</div>
