<div class="inner">
  <%= link_to "DX", root_url, class: "logo" %>
  <%= form_tag "/search", method: "get" do %>
    <%= text_field_tag :query, nil, class: "search_bar", placeholder: "Search for design methods" %>
  <% end %>
  <ul>
    <li>
      <%= link_to "User", root_url %>
    </li>
  </ul>
</div>
